@model IEnumerable<BookStore.Models.Order>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Order List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Customer ID
                </th>
                <th>
                    Created Date
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.OrderId }, new { @class = "btn btn-info btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
