@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Available Roles For Application</h2>

    <a href="/Role/Create"><button class="btn btn-primary">Create role</button></a>


    <table class="table">
        <tr>
            <td>
                <b>Id</b>
            </td>
            <td>
                <b>Role Name</b>
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </table>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
